.navbar {
    background-color:#ef5350 !important;
}

.App{
    background-attachment: fixed;
    background-position: center;
    background-color:#fafafa;
    background-repeat: repeat; 
    padding-top: 4rem;
    min-height: 100vh;
}